chrome_100_percent.pak
chrome_200_percent.pak
chrome_elf.dll
d3dcompiler_47.dll
htmlrenderer.dll
icudtl.dat
libcef.dll
libEGL.dll
libGLESv2.dll
resources.pak
snapshot_blob.bin
v8_context_snapshot.bin
locales
swiftshader
dyalog182_64rt_unicode.dll
tailwindcss-windows-x64.exe
GPUCache/
APixeL.exe