@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Apple II Pro";
  box-sizing: border-box;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@layer base {
  html {
    overflow: hidden;
  }

  body,
  html {
    @apply h-full;
  }

  table,
  tr,
  td {
    @apply border-solid border border-gray-500;
  }

  tr {
    height: 25px;
  }
  td {
    width: 25px;
  }

  input {
    @apply float-right appearance-none m-0 border-solid border-2 border-black px-1.5;
    box-shadow: 2px 2px white;
  }

  summary,
  p {
    @apply bg-gray-300;
    margin: 0px 0 -1px 0px;
    padding: 0 0 0 0.5rem;
    border: 1px black solid;
  }
  summary {
    padding: 0 1rem 0 0.5rem;
  }
}
